*{
    font-family: tahoma, sans-serif;
    /* background-color: rgb(59, 59, 158); */
    text-align: center;
    text-decoration: underline;
}

ul.li{

    color: blue;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: blanchedalmond; */
}
.p1{
    color: lightblue;
    background-color: brown;
    text-transform: capitalize;
    text-align: justify;
}
.p2{
    background-color: black;
    color: aqua;
    /*line-height: 1.5px;*/
}